.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.row-full {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.row-half {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.row-three-fourths {
  display: flex;
  flex-direction: column;
  flex-basis: 75%;
}

.row-one-fourth {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }
}
