body {
  background-color: #58a07c;
  color: white;
  font-family: 'Roboto', sans-serif;
}

p {
  margin: 0;
}

.mb-20px {
  margin-bottom: 20px;
}

/* buttons */

button {
  border: none;
  background-color: #e3e3e3;
  color: #6c757d;
  border-radius: 4px;
  font-size: 1.5rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  width: 140px;
  height: 50px;
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: translateY(4px);
  box-shadow: none;
}

.hit-stand-container button:first-child {
  margin-right: 30px;
}

.start-game-btn {
  background-color: red;
  color: white;
}

.play-again-btn {
  height: auto;
  width: auto;
  background-color: red;
  color: white;
  font-size: 1.25rem;
  padding: 0.5rem 0.75rem;
}

.increment-bet,
.decrement-bet {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* flex */

.justify-evenly {
  display: flex;
  justify-content: space-evenly;
}

.align-center {
  display: flex;
  align-items: center;
}

.align-content-around {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* start page */

.start-page {
  background-image: url('../images/blackjack-thumbnail.jpeg');
  background-position: 65%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.start-page-inner-container {
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.start-page-heading {
  margin-top: 6.5rem;
  font-size: 3rem;
}

/* table text */

.table-text-top {
  font-size: 2.25rem;
}

.table-text-bottom {
  font-size: 1.5rem;
}

.center-text {
  text-align: center;
}

.bet-table-text {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-self: flex-start;
}

.bet-input {
  width: 85%;
  height: 60%;
  font-size: 1.5rem;
}

.bet-input-form {
  width: 100%;
}

.bet-input-form input {
  height: 2rem;
  max-width: 10rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #e3e3e3;
  color: #6c757d;
  border: none;
  border-radius: 4px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* player and dealer hands */

.card-img {
  width: 150px;
  height: 212px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.player-hand > div:not(:last-child),
.dealer-hand > div:not(:last-child) {
  width: 50px;
}

.card-container {
  display: inline-block;
}

/* modal */

.modal-overlay {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  padding: 1.5rem 2rem;
  background-color: #e3e3e3;
  border-radius: 8px;
  color: #6c757d;
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
}

.modal p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.modal p:first-child {
  margin-top: 0;
}

.modal span {
  font-family: 'Monserrat', sans-serif;
}

.game-outcome {
  color: black;
}

.green-text {
  color: green;
}

.red-text {
  color: red;
}

.black-text {
  color: black;
}

/* media query */

@media only screen and (min-width: 768px) {
  .game-page {
    padding: 0 20px;
  }

  /* buttons */

  button {
    border-radius: 8px;
    font-size: 3rem;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
    width: 275px;
    height: 85px;
  }

  .hit-stand-container button:first-child {
    margin-right: 160px;
  }

  .play-again-btn {
    font-size: 2rem;
  }

  .deal-cards-btn,
  .hit-stand-container {
    margin-bottom: 2rem;
  }

  .increment-bet,
  .decrement-bet {
    width: 60px;
    height: 60px;
  }

  /* start page */

  .start-page {
    background-position: center;
  }

  .start-page-heading {
    margin-top: 0;
    font-size: 6rem;
  }

  /* player and dealer hands */

  .player-hand {
    margin-bottom: 1rem;
  }

  .card-img:first-child {
    margin-right: 10px;
  }

  .card-img:last-child {
    margin-left: 10px;
  }

  .card-img:not(:first-child, :last-child) {
    margin-left: 10px;
    margin-right: 10px;
  }

  .player-hand > div:not(:last-child),
  .dealer-hand > div:not(:last-child) {
    width: auto;
  }

  /* table text  */

  .table-text-top {
    font-size: 4rem;
  }

  .table-text-bottom {
    font-size: 3rem;
  }

  .bet-table-text {
    width: fit-content;
    flex-wrap: wrap;
  }

  .bet-table-text p {
    width: 100%;
    font-size: 1.25rem;
    line-height: 1.5;
  }

  .bet-input {
    font-size: 2rem;
  }

  .bet-input input {
    height: 2rem;
    font-size: 2rem;
    border-radius: 8px;
  }

  /* modal */

  .modal {
    /* padding: 3rem 4rem; */
    font-size: 2.25rem;
  }

  .modal p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
