body {
  background-color: #58a07c;
  color: white;
  font-family: 'Roboto', sans-serif;
}

p {
  margin: 0;
}

/* buttons */

button {
  border: none;
  background-color: #e3e3e3;
  color: #6c757d;
  border-radius: 4px;
  font-size: 1.5rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  width: 140px;
  height: 50px;
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: translateY(4px);
  box-shadow: none;
}

.hit-stand-container button:first-child {
  margin-right: 30px;
}

/* flex */

.justify-center {
  display: flex;
  justify-content: center;
}

.align-center {
  display: flex;
  align-items: center;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* start page */

.start-page {
  background-image: url('../images/blackjack-thumbnail.jpeg');
  background-position: 65%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.start-page-inner-container {
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.start-page-heading {
  margin-top: 6.5rem;
  font-size: 3rem;
}

.start-game-btn {
  background-color: red;
  color: white;
}

/* table text */

.table-text-top {
  font-size: 2.25rem;
}

.table-text-bottom {
  font-size: 1.5rem;
}

.center-text {
  text-align: center;
}

/* player and dealer hands */

.card-img {
  width: 150px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.player-hand > div:not(:last-child),
.dealer-hand > div:not(:last-child) {
  width: 50px;
}

.card-container {
  display: inline-block;
}

/* media query */

@media only screen and (min-width: 768px) {
  /* buttons */

  button {
    border-radius: 8px;
    font-size: 3rem;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
    width: 275px;
    height: 85px;
  }

  .hit-stand-container button:first-child {
    margin-right: 160px;
  }

  /* start page */

  .start-page {
    background-position: center;
  }

  .start-page-heading {
    margin-top: 0;
    font-size: 6rem;
  }

  /* player and dealer hands */

  .card-img:first-child {
    margin-right: 10px;
  }

  .card-img:last-child {
    margin-left: 10px;
  }

  .card-img:not(:first-child, :last-child) {
    margin-left: 10px;
    margin-right: 10px;
  }

  .player-hand > div:not(:last-child),
  .dealer-hand > div:not(:last-child) {
    width: auto;
  }

  /* table text  */
  .table-text-top {
    font-size: 4rem;
  }

  .table-text-bottom {
    font-size: 3rem;
  }
}
